# -------------------------
# Backend (FastAPI)
# -------------------------
fastapi
uvicorn

# -------------------------
# Data & ML
# -------------------------
numpy
pandas
scikit-learn
joblib

# -------------------------
# UI (Streamlit)
# -------------------------
streamlit
requests

# -------------------------
# Validation / Settings
# -------------------------
pydantic
pydantic-settings
